body{
  margin:auto
}
a{
  text-decoration: none !important;
}
/*Header Css*/
header{
  height:60px;
  color:#fff;
  background-color:#3b2632
}
#brand h1{
  float:left;
  font-size: xx-large;
}
#social{
  float:right;
  margin-right: 2%;
}
.socialLogo{
  height:50px
}
/*logo Css*/
#search{
    height:400px;
    background-image:url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    background-size:100% 400px;
}
.search-box{
  
}

#logo{
    height:150px;
    width:150px;
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    margin-top:2%;
    margin-left:45%;
    font-size:90px;
}

#logo >span{
    margin-left:23%;
    margin-top:12%;
    position:absolute; 
}

#heading{
    font-size:60px;
    color:white;
    margin-left:30%;
    margin-top:12%;
    position:absolute;
}
.button-dropdown1, .button-dropdown2{
  margin-top: 320px;
  position: absolute;
  
  border-radius: unset !important;
}
.button-dropdown1{
  margin-left:500px;
}
.img-card{
  width: 183px;
  height: auto;
}
.img-card6{
  width: 183px;
  height: 112px;
}
.border-card{
  border: unset !important;
}
.quick-serch-title
{
    font-size:30px;
    color:#3b2632;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.quick-serch-subtitle{
  font-size:20px;
  color:gray;
  line-height: 2;
}
.componentHeading > a{
  color: #3b2632;
  font-size:25px;
}
.componentSubHeading{
  color:gray;
  font-size:20px;
}
.tileContainer{
  box-shadow: 10px 20px 15px #3b2632;

}

/* footer */
footer{
  margin-top:5%;
  height:120px;
  text-align: center;
  background-color:#3b2632;
  color:white
}
.footDiv{
  text-align: center;
  height:70px;
  width:33%;
  float:left;
  border-right:2px solid white
}


/* media-query */
@media screen and (max-width: 786px) and (min-width:425px ) {
  .button-dropdown1 , .button-dropdown2{
    margin-left: unset;
  }
  header{
    height:30px;
  }
  #brand h1 {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: unset !important;
}
#social {
  margin-left: 190PX;
 }
img.socialLogo {
  width: 20px;
  height: auto;
}
#heading {
  font-size: 30px;
  color: white;
  margin-left: 14%;
  margin-top: 62%;
  position: absolute;
}
#logo {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  margin-top: 20%;
  margin-left: 40%;
  font-size: 50px;
}
.button-dropdown1 ,.button-dropdown2{
  margin-right: unset;
  --bs-btn-padding-y: 0rem;
}
.button-dropdown1{
  margin-left: 7  px;
}
.button-dropdown1 button ,.button-dropdown2 button{
    --bs-btn-padding-y: 0rem;
    --bs-btn-padding-x: 0rem;
}
.quick-search {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  display: inline-block;
}
.img-card {
  width: 100%;
  height: auto;
}
}
@media screen and (min-width: 480px) {
  header.header {
    width: auto;
  }
  #social {
    margin-left: unset;
  }
  div#search-box {
    margin-left: 190px;
  }
  .img-card6 {
    width: 316px;
    height: 112px;
  }
}
@media screen and (min-width: 1024px) {
  header.header{
    width: auto;
  }
  div#search-box {
    margin-left: -140px;
  }
  #heading {
    font-size: 60px;
    color: white;
    margin-left: 20%;
    margin-top: 22%;
    position: absolute;
}
  #logo{
  margin-top: 7%;
  }
  .img-card {
    width: 152px;
    height: 100%;
 }
 .img-card6 {
  width: 153px;
  height: 100%;
  }
}

@media screen and (min-width: 2560px) {
  div#brand {
  margin-left: 0%;
  }
  .button-dropdown1 {
    margin-left: 1000px;
  }
}
